.description {
    margin: 1.7em 0;
    padding: 1em;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.18), 0 7px 7px rgba(0,0,0,0.18);
}

.dark .description {
    background-color: $dark-bg2;
}

.imagecover {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    margin-top: 1.7em;
}

.content {
    img {
        max-width: 100%;
    }

    a {
        text-decoration: underline;
        transition: color .2s;
    }

    a:hover {
        color: $dark-hover;
        transition: color .2s;
    }

}